
$StudentManagementLightGray: #e0e0e0;
$StudentManagementGray: #cccccc;
$StudentManagementDarkGray: #888686;
$StudentManagementAmber: #ffe082;
$StudentManagementGreen: #9ccc65;
$StudentManagementRed: #ff7043;
$StudentManagementError: #f44336;
$StudentManagementDarkAccent: #252e57;
$StudentManagementBlue: #004c8f;
$StudentManagementBurgundy: #9c1d26;
$StudentManagementDodgerBlue: #007bff;
$StudentManagementSalmon:	#FA8072